</body>

<!-- set to hide when screen moves or set everything to a padding up !-->
<div class="navbar navbar-fixed-bottom">
<footer class="container-fluid">
<h1>footer partial</h1>
</footer>
</div>
</html>
