</body>

<!-- set to hide when screen moves or set everything to a padding up !-->
<div class="navbar navbar-fixed-bottom">
<footer class="container-fluid">
  <div class="col-3">
    <ul class="footerList">
      <li class="footerListItem">Terms of Service</li> <!-- IDEA: change to link to proper terms of service -->
    </ul>
    <br> <!-- just to add room for now !-->
  </div>
  <div class="col-3">
    <ul class="footerList">
      <li class="footerListItem">Join the Team</li> <!-- IDEA: change to link to resume fill out form -->
    </ul>
    <br> <!-- just to add room for now !-->
  </div>
  <div class="col3">
    <ul class="footerList">
      <li class="footerListItem">Contact Us</li> <!-- IDEA: change to email link -->
    </ul>
    <br> <!-- just to add room for now !-->
  </div>
</footer>
</div>
</html>
