<% include partials/header %>
<div id="container">
	<div id="audio-image"> <!-- ALBUM COVER -->
		<img class="cover" />
	</div>
	<div id="audio-player">
		<div id="audio-info">  <!-- ARTIST/TITLE -->
			<span class="artist"></span> - <span class="title"></span>
		</div>
		 <div id="tracker">
			<div id="progressBar">
				<span id="progress"></span>
			</div>
			<span id="duration"></span> <!-- where song is in duration -->
		 </div>
	</div>

</div>

<input type="text" id="tagSearch" onkeyup="searchTunes()" placeholder="Search songs..." title="Type in a name">
<div class="library_window" id="yours">


</div>
<!-- Media player -->





<br>
<h3>search window</h3>
<br>
<br>
<br>
<br>
<h1>end of body</h1>
<% include partials/footer %>
