<% include partials/header %>
<div class="browse">

<div id="container-fluid">
	<div id="audio-image"> <!-- ALBUM COVER -->
		<img class="cover" />
	</div>
	<div id="audio-player">
		<div id="audio-info">  <!-- ARTIST/TITLE -->
			<span class="artist"></span> - <span class="title"></span>
		</div>
	</div>

</div>

<input type="text" id="tagSearch" placeholder="Search songs..." title="Type in a name">
<br>
<br>
<div class="container-fluid" >
	<div class="library">
			<h1>hello</h1>
			<li>bing</li>
			<h1>hello</h1>
			<li>bing</li>
			<h1>hello</h1>
			<li>bing</li>
			<h1>hello</h1>
			<li>bing</li>
			<h1>hello</h1>
			<li>bing</li>
			<h1>hello</h1>
			<li>bing</li>
			<h1>hello</h1>
			<li>bing</li>
			<h1>hello</h1>
			<li>bing</li>
			<h1>hello</h1>
			<li>bing</li>
			<h1>hello</h1>
			<li>bing</li>
			<h1>hello</h1>
			<li>bing</li>
			<h1>hello</h1>
			<li>bing</li>
			<h1>hello</h1>
			<li>bing</li>
			<h1>hello</h1>
			<li>bing</li>
			<h1>hello</h1>
			<li>bing</li>
			<h1>hello</h1>
			<li>bing</li>
			<h1>hello</h1>
			<li>bing</li>
			<h1>hello</h1>
			<li>bing</li>
			<h1>hello</h1>
			<li>bing</li>
			<h1>hello</h1>
			<li>bing</li>

	</div>


</div>

<br>
<br>
<br>
</div>
<% include partials/footer %>
