<% include partials/header %>
<div class="browse">

<div id="container-fluid">
	<div id="audio-image"> <!-- ALBUM COVER -->
		<img class="cover" />
	</div>
	<div id="audio-player">
		<div id="audio-info">  <!-- ARTIST/TITLE -->
			<span class="artist"></span> - <span class="title"></span>
		</div>
	</div>

</div>

<input type="text" id="tagSearch" placeholder="Search songs..." title="Type in a name">
<br>
<br>
<div class="container-fluid" >
	<div class="library">
		  <h3><%= title %></h3>
		<ul style="list-style-type: none">
			<div class="row">
				<div class="col-3">
					<li>Title</li>
				</div>
				<div class="col-3">
					<li>Artist<li>
				</div>
					<div class="col-3">
						<li>Album</li>
					</div>
					<div class="row">
						<br> <!-- for temporary styling !-->
						<br> <!-- for temporary styling !-->
					</div>

			</div>
			<% songs.forEach(function(song) { %>
				<div class="row">
					<div class="col-3">
						<li><%= song.metadata.title %> </li>
					</div>
	        <div class="col-3">
	        	<li><%= song.metadata.artist %> <li>
	        </div>
						<div class="col-3">
							<li> <%= song.metadata.album %>  </li>
						</div>
				</div>

    <% }); %>



				<!-- IDEA: add db-link to songid to call the play function when clicked -->
			 	<!-- IDEA: add sort functions -->
				<!-- IDEA: add search ability -->

			</ul>


	</div>


</div>

<br>
<br>
<br>
</div>
<% include partials/footer %>
