<% include partials/header %>
<div class="browse">
	
<div id="container-fluid">
	<div id="audio-image"> <!-- ALBUM COVER -->
		<img class="cover" />
	</div>
	<div id="audio-player">
		<div id="audio-info">  <!-- ARTIST/TITLE -->
			<span class="artist"></span> - <span class="title"></span>
		</div>
	</div>

</div>

<input type="text" id="tagSearch" placeholder="Search songs..." title="Type in a name">
<br>
<br>
<div class="container-fluid" >
	<div class="library">
			<a href="#"> SONG 1</a> <br>		<!-- IDEA: add db-link to songid to call the play function when clicked -->
			<a href="#"> SONG 2</a> <br>  	<!-- IDEA: add sort functions -->
			<a href="#"> SONG 3</a> <br>		<!-- IDEA: add search ability -->
			<a href="#"> SONG 4</a> <br>
			<a href="#"> SONG 5</a> <br>
			<a href="#"> SONG 6</a> <br>
			<a href="#"> SONG 7</a> <br>


	</div>


</div>

<br>
<br>
<br>
</div>
<% include partials/footer %>
