<% include partials/header %>
<div class="home">
  <div class="container-fluid">
    <h1>Why AudioPhiles</h1>
    <!-- IDEA: put in slideshow showcase -->
    <br>
    <h1 id="featuredArtists"><b>FEATURED ARTISTS</b></h1>
    <div class="artistSlide">
      <!-- IDEA: include artist name, recent song, and image of an album -->
    </div>
    <br>
    <h1>Top Playlists Today</h1>
    <br>
    <h1>Plans</h1>

  </div>
</div>
<% include partials/footer %>
