<% include partials/header %>
<div id = "container-fluid">
  <div>
    <form method="post" action="/signup"> <!--/signup is where you are sending post request -->
       <div id=form-group>
           <label>First Name:</label>
              <input type="text" class="form-control" name="firstName">
       </div>
     <div id=form-group>
         <label>Last Name:</label><input type="text" class="form-control" name="lastName">
     </div>
     <div id=form-group>
         <label>E-Mail:</label><input type="text" class="form-control" name="eMail">
     </div>
     <div id=form-group>
         <label>Confirm E-Mail:</label><input type="text" class="form-control" name="confirmEMail">
     </div>
     <div id=form-group>
         <label>Password:</label><input type="password" class="form-control" name="password">
     </div>
     <div id=form-group>
         <label>Confirm Password:</label>
            <input type="password" class="form-control" name="confirmPassword">
     </div>
     <div>
         <button class="btn" type="submit" >Sign Up!</button>
       </div>
</form>
</div>

<% include partials/footer %>
