<% include partials/header %>

<div id = "container">
    <form method="post", action="/signup">
      <div id=form-group>
          <label>Username:</label>
           <div>
             <input type="text" class="form-control" name="username">
           </div>
      </div>
       <div id=form-group>
           <label>First Name:</label>
            <div>
              <input type="text" class="form-control" name="firstName">
            </div>
       </div>
     <div id=form-group>
         <label>Last Name:</label>
          <div>  <input type="text" class="form-control" name="lastName">
          </div>
     </div>
     <div id=form-group>
         <label>E-Mail:</label>
          <div>
            <input type="text" class="form-control" name="eMail">
          </div>
     </div>
     <div id=form-group>
         <label>Confirm E-Mail:</label>
          <div>
            <input type="text" class="form-control" name="confirmEMail">
          </div>
     </div>
     <div id=form-group>
         <label>Password:</label>
          <div>
            <input type="password" class="form-control" name="password">
          </div>
     </div>
     <div id=form-group>
         <label>Confirm Password:</label>
          <div>
            <input type="password" class="form-control" name="confirmPassword">
          </div>
     </div>

    <div>
      <button type="submit">Sign Up!</button>
    </div>
</form>
</div>

<% include partials/footer %>
