<% include partials/header %>
<div class="signup">
  <div class="container-fluid">
    <div class="signupForm">
      <form action="index.html" method="post"> <!-- IDEA: HAVE TO CHANGE ALL THIS!!!!!! -->
        <label>Username</label><input type="text" name="" value="">
        <br>
        <label>Email</label><input type="text" name="" value="">
        <br>
        <label>Password</label><input type="text" name="" value="">
        <br>
        <label>Confirm Password</label><input type="text" name="" value="">
        <br>
        <input type="submit" name="submit" value="submit">
      </form>
    </div>

    <!-- IDEA: add facebook signup below -->

  </div>
</div>

<% include partials/footer %>
