header{
  background-color: aqua;
}
body{
  background-color: black;
}
#title{
  float: left;
  font-weight: bolder;
}

li{
  color: black;
}
footer{
  background-color: black;
  height: 8%;
}
h1#footer{
  color: white;
}
