/*and footer */
header{
  background-color: aqua;
}
body{
  background-color: black;
}
#title{
  float: left;
  font-weight: bolder;
}

li{
  color: black;
}


/*footer */
footer{
  background-color: black;
  max-height: 8%;
  margin-top: 8%;
}
.col-3{
  width: 33%;
  float: left;
}
.footerList{
  text-align: center;
  list-style-type: none;
}
.footerListItem{
  color: white;
}
