#audio-info{
	text-align:center;
}
#audio-info .artist{
	font-weight:bold;
}
input#volume {
	width:10%;
	margin-left:2%;
    -webkit-appearance: none !important; /* use other appearance web devos ?*/
    background:#ccc;
    height:1px;
	margin-bottom:20px;
}
input#volume::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:url(../images/mediaplayer/knob.png) no-repeat;
		margin-top: 30px;
    height:12px;
    width:12px;
}

#buttons{
	width:300px;
	display: block;
    margin: 10px auto;
	margin-left:10px;
	overflow:auto;
	float: left;
}

button#play{
	width:70px;
	height:70px;
	background:url(../images/mediaplayer/play-button.png) no-repeat;
	border: aquamarine;
}

button#pause{
	width:70px;
	height:70px;
	background:url(../images/mediaplayer/pause.png) no-repeat;
	border: aquamarine;

}

button#prev{
	width:70px;
	height:70px;
	background:url(../images/mediaplayer/prev.png) no-repeat;
	border: aquamarine;
}

button#next{
	width:70px;
	height:70px;
	background:url(../images/mediaplayer/next.png) no-repeat;
	border: aquamarine;
}


#tracker{
	position:relative;
	width:40%;
	float: left;
}

#playlist li.active {
    font-weight: bold;
	padding:3px;
	background:#666;
}

#progressBar {
   width:80%;
   margin-left:2%;
   margin-bottom:20px;
   margin-top:9px;
   height:10px;
   background:url(../images/mediaplayer/progress_bg.png) no-repeat;
   float:left;
}

#progress {
   background:url(../images/mediaplayer/progress.png) no-repeat;
   height:10px;
   display:inline-block;
}

#duration{
	position:absolute;
	top:0;
	right:10px;
	padding:4px 8px;
	background:#000;
	border-radius:5px;
}
